<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aswal.fitness">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Tension"></activity>
        <activity android:name=".Decline" />
        <activity android:name=".Diamond" />
        <activity android:name=".Wide" />
        <activity android:name=".MountainClimbers" />
        <activity android:name=".Plank" />
        <activity android:name=".BicycleCrunch" />
        <activity android:name=".VSitCrunch" />
        <activity android:name=".LegRaise" />
        <activity android:name=".Glutes" />
        <activity android:name=".Pistol" />
        <activity android:name=".Calf" />
        <activity android:name=".Lunges" />
        <activity android:name=".ChestDay" />
        <activity android:name=".AbsDay" />
        <activity android:name=".ListOfExercises" />

        <service
            android:name=".BackgroundSoundService"
            android:enabled="true"
            tools:ignore="WrongManifestParent" />

        <activity android:name=".EditWorkAct" />
        <activity android:name=".Squats" />
        <activity android:name=".LegsDay" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>